.categoryList{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categoryItem{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
}

.categoryItem.hotdeals {
    background-color: #57c4ff31;
}

.categoryItem.cafe {
    background-color: #da85c731;
}

.categoryItem.resturants {
    background-color: #7fb88133;
}

.categoryItem.medical {
    background-color: #ff795736;
}

.categoryItem.hotels {
    background-color: #ffb04f45;
}

.categoryItem.trips {
    background-color: #5e4fff31;
}

.categoryItem.workspace {
    background-color: #ffc49931;
}

.categoryItem.realestate {
    background-color: #9724aa3a;
}